<!DOCTYPE html>
<html>
<head>
	<title>FreeCodeCamp API - Nightlife Coordinator App.</title>
	<meta content="A cool thing made with Glitch" name="description">
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
  <link href="https://cdn.glitch.com/f5db0082-b880-4006-b9a4-409fecd27a35%2Ffavicon.jpg?1512944246618" rel="shortcut icon">
	<link href="https://cdn.glitch.com/f5db0082-b880-4006-b9a4-409fecd27a35%2Ffavicon.jpg?1512944246618" rel="apple-touch-icon">
</head>
<body>
	<div id="head">
		<h2 id="brand"><a href="/">Nightlife Coordinator</a></h2>
    <div id="login"></div>
	</div>
	
	<center>
		<div id="body">
			<h3>Let's Go!</h3>
			<div class="input-group app-form">
				<input class="form-control input-field" id="search" placeholder="Enter your location..." style="display:inline-block" type="text">
        <span class="input-group-btn"><button class="btn btn-default" id="search_bt">Search</button></span>
        
			</div><span id="searching" style="display:none;margin-top:15px;"><img alt="loading" height="50" src="https://cdn.glitch.com/f5db0082-b880-4006-b9a4-409fecd27a35%2Floader.gif?1512945488562" width="50"></span>
		</div>
		<div id="footer">
			Powered by Google Places API &amp; FreeCodeCamp API - Nightlife Coordinator App.
		</div>
	</center>
	<script src="/client.js">
	</script>
</body>
</html>
